#about
  %p= "Team Jake Dahn is a web design and development collective based in Minneapolis Minnesota (currently pending name change...). If you would like to get a hold of any of us feel free to spam us on twitter."
  
  %p= "If you have any feedback on the site we would love to hear it! Please contact us by emailing jake[at]ang.st"
  %ul
    %li
      %a{:href => "http://twitter.com/jakedahn", :target => "_blank"}= "Jake Dahn"
    %li
      %a{:href => "http://twitter.com/johnheimkes", :target => "_blank"}= "John Heimkes IV"
    %li
      %a{:href => "http://twitter.com/dane_ray", :target => "_blank"}= "Dane Messall"
    %li
      %a{:href => "http://twitter.com/bradleyolson", :target => "_blank"}= "Bradley Olson"
    %li
      %a{:href => "http://twitter.com/twahlin", :target => "_blank"}= "Tom Wahlin"
    %li
      %a{:href => "http://twitter.com/jakeward", :target => "_blank"}= "Jacob Ward"
