%div#images
  - @images.each do |image|
    %div.image
      .descriptionWrapper
        .description
          %h3.title
            %a{:href => "/view/#{image.id}"}= h(image.title)
          %p= h(image.description)

        %a.tweetThis{:href => "http://twitter.com?status=#{CGI::escape(image.title+" with a mustache! http://mustache.me/view/"+image.id.to_s+" #mustache")}", :target => "_blank"}= "Tweet this."


      %a{:href => "/view/#{image.id}"}
        %img{:src => "#{image.url}", :height => 276}

- if @offset >= @image_count.to_i-5
  %a{:class => "prev", :href => @page_num.to_i-1}= "&laquo; Previous"
- elsif @page_num.to_i < 1
  %a{:class => "next", :href => "/page/#{@page_num.to_i+1}"}= "Next &raquo;"
- else 
  %a{:class => "prev", :href => @page_num.to_i-1}= "&laquo; Previous"
  %a{:class => "next", :href => @page_num.to_i+1}= "Next &raquo;"