%div#images
  - @images.each do |image|
    %div.image
      .vote
        %ul
          %li= "up"
          %li= "down"
        %h3.title
          %a{:href => "./"}= image.title
        .description
        = image.description
      %img{:src => "#{image.url}", :width => 400, :height => 300}
      
          
