!!! strict
%html
  %head
    %meta{:"http-equiv"=>"Content-Type", :content => "text/html; charset=utf-8" }
    %title= @title
    %meta{:name=>"Robots", :content=>"index,all"}
    
    %link{:rel=>"stylesheet", :href=>"/style.css", :media=>"screen"}
    
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/js/raphael-1.3.1.js"}
    %script{:type => "text/javascript", :src => "/js/application.js"}
    
  %body
    %div#wrapper        
      %div#content
        %h1
          %a{:href => "/"}= "Mustache.me"
        %ul#nav
          %li
            %a{:href => "/upload"}= "Upload"
        = @flash
        = yield
      %div#footer
        Made in collaboration with <a href="http://blog.jakedahn.com">Jake Dahn</a> / <a href="http://johnheimkes.com">John Heimkes</a> / <a href="http://blog.jakedahn.com">Dane Messall</a> 
